{% extends 'base.html.twig' %}

{% block javascripts %}
{{ parent() }}


<script>
    function confirmacion()
    {

        var respuesta=confirm("¿Desea realmente borrar el registro?");
        if (respuesta==true)
        {
            return true;
        }
        else
        {
            return false;
        }
    }
</script>
{% endblock %}
{% block title %}Register{% endblock %}

{% block body %}
{{ parent() }}
<header>

</header>

<section class="pt-150 cuerpo fondoseccion">
<div class=" w-50 offset-lg-3 offset-md-3 offset-sm-3">
<h2 class="text-center">LISTADO DE AEROPUERTOS</h2>
</div>
<table class="table table-dark table-hover w-50 offset-lg-3 offset-md-3 offset-sm-3">
<thead>
<tr>
<th class="d-none">ID</th><th>NOMBRE</th><th>LOCALIDAD</th><th>ACCIONES</th>
</tr>
</thead>
<tbody>
{% for aeropuerto in aeropuertos %}
<tr id="{{aeropuerto.id}}" class="filasjuego tr:hover">
<td class="d-none">{{aeropuerto.id}}</td><td>{{aeropuerto.nombre}}</td><td>{{aeropuerto.localidad}}</td><td><a href="/admin/editaeropuerto/{{aeropuerto.id}}" class=""><i class="fas fa-edit "></i></a><a href="/admin/deleteaeropuerto/{{aeropuerto.id}}" onclick="return confirmacion()"><i class="fas fa-trash ml-5"></i></a></td>
</tr>
{% endfor %}
</tbody>
</table>

<div class="d-flex justify-content-between w-50 offset-lg-3 offset-md-3 offset-sm-3">

<a href="/admin/nuevoaeropuerto" class="btn btn-primary">Añadir</a>

{% if totalpgs > 0 %}
     <ul class="pagination">
     {% if pagina != 1 %}
                  <li class="page-item"><a class="page-link" href="/admin/listaaeropuerto/{{pagina - 1}}">&laquo;</a></li>
    {% if pagina != 2 %}
                  <li class="page-item"><a class="page-link" href="/admin/listaaeropuerto/{{pagina - 2}}">{{pagina - 2}}</a></li>
    {% endif %}
                  <li class="page-item"><a class="page-link" href="/admin/listaaeropuerto/{{pagina - 1}}">{{pagina - 1}}</a></li>
     {% endif %}
                  
                  <li class="page-item active"><a class="page-link" href="/admin/listaaeropuerto/{{pagina}}">{{pagina}}</a></li>
                  
    {% if pagina != totalpgs %} 
                  <li class="page-item"><a class="page-link" href="/admin/listaaeropuerto/{{pagina + 1}}">{{pagina + 1}}</a></li>
    {% if pagina != (totalpgs - 1 )%}
                  <li class="page-item"><a class="page-link" href="/admin/listaaeropuerto/{{pagina + 2}}">{{pagina + 2}}</a></li>
    {% endif %}              
                  <li class="page-item"><a class="page-link" href="/admin/listaaeropuerto/{{pagina + 1}}">&raquo;</a></li>
    {% endif %}
    </ul>  
{% endif %}

{% if ( pagina * 5 ) >= totalreg %}
    <p>(De {{iniciolimit + 1}} a {{totalreg}}. Total, {{totalreg}} registros.)</p>
{% else %}
    <p>(De {{iniciolimit + 1}} a {{pagina * 5}}. Total, {{totalreg}} registros.)</p>
{% endif %}
</div>

</section>

 {% block footer %}
       {# <footer class="footer">            
                <p>Copyright <script>document.write(new Date().getFullYear())</script> &copy; <a href="http://www.devcrud.com">Xokas and co</a></p>
            </footer>#}
            <div class="fondoseccion text-center footer-pd">
                AIRES
            </div>
{% endblock %}
{% endblock %}
