{% extends 'base.html.twig' %}
{% block javascripts %}
  {{ parent() }}
           <script src="{{ asset('assets/vendors/jquery/buscador.js') }}" type="text/javascript"></script>        
{% endblock %}
{% block body %}
  {{ parent() }}
   <section class="banner-area relative" id="home">
		<div class="overlay overlay-bg"></div>
		<div class="container-fluid">
			<div class="row fullscreen d-flex align-items-center justify-content-between">
				<div class="col-lg-6 col-md-6 banner-img">
					<img class="img-fluid" src="{{asset('assets/imgs')}}" alt="">
				</div>
				<div class="banner-content height  col-lg-5 col-md-5">
					<h1 class="text-uppercase ml-50 mb-100">
						<span  class="">Air-Es,</span><br> Vuela como en Casa
					</h1>
					<a href="#busqueda" class=" btn primary-btn fz-18 mt-150">BUSCAR VIAJES</a>
				</div>
			</div>
		</div>
	</section>
   <section id="busqueda" class="about-area section-gap">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-lg-12">
					<div class="section-title-wrap text-center">
						<h1>BUSCADOR DE VUELOS</h1>
						<p>As you pour the first glass of your favorite Chianti or Chardonnay and settle into an intimate Friday evening.</p>
					</div>
				</div>
			</div>

			<div class="row justify-content-between align-items-center">
				<div class="col-lg-12">
					<div class="row offset-lg-1">
						 <form action="/admin/vuelosdisponibles"  method="post">
						 	<fieldset class="offset-lg-5 mb-30">
								<label for="idavuelta" id="idavueltalbl">Ida y Vuelta</label>
								<input type="radio" name="radio-1" id="idavuelta" checked>
								<label for="ida" id="idalbl">Ida</label>
								<input type="radio" name="radio-1" id="ida">
							</fieldset>
							<div class="d-flex-column">
							<div class="d-flex">
							<select  name="origen" id="origen">
								<option value="0" disabled   selected="selected">Origen</option>
								{% for aeropuerto in aeropuertos  %}
								<option value="{{ aeropuerto.id }}">{{ aeropuerto.localidad }}</option>
								{% endfor %}
							</select>

							<select  name="destino" id="destino">
								<option value="0" disabled selected="selected">Destino</option>
								{% for aeropuerto in aeropuertos  %}
								<option value="{{ aeropuerto.id }}"  >{{ aeropuerto.localidad }}</option>
								{% endfor %}
							</select>
							
							</div>

							<div class="d-flex mt-30">
							<label for="fechaida" class="fz-18 offset-lg-1">Fecha Ida:</label>
   							<input type="text" id="datepickerida" name="fechaida" class="">
							<label for="fechavuelta" class="fz-18 offset-lg-1">Fecha Regreso:</label>
   							<input type="text" id="datepickervuelta" name="fechavuelta" class="">
							</div>

							<button type="submit" class="btn btn-primary mt-50 offset-lg-5">BUSCAR</button>
						</div>
						</form>								
					</div>
				</div>

				<div class="col-lg-6 about-left">
					<img class="img-fluid" src="" alt="">
				</div>
			</div>
		</div>
	</section>

   <section class="feature-area section-gap">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-lg-12">
					<div class="section-title-wrap text-center">
						<h1>Our Featured Classes</h1>
						<p>As you pour the first glass of your favorite Chianti or Chardonnay and settle into an intimate Friday evening.</p>
					</div>
				</div>
			</div>
			<div class="row justify-content-center d-flex align-items-center">
				<div class="col-lg-6 col-md-6 single-feature">
					<figure>
						<img class="img-fluid" src="" alt="">
						<div class="overlay overlay-bg"></div>
					</figure>
					<div class="text-center">
						<h4 class="mb-10">Get into shape now</h4>
						<p>
							<a href="#">Book an appointment</a>
						</p>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 single-feature">
					<figure>
						<img class="img-fluid" src="" alt="">
						<div class="overlay overlay-bg"></div>
					</figure>
					<div class="text-center">
						<h4 class="mb-10">Get into shape now</h4>
						<p>
							<a href="#">Book an appointment</a>
						</p>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 single-feature">
					<figure>
						<img class="img-fluid" src="" alt="">
						<div class="overlay overlay-bg"></div>
					</figure>
					<div class="text-center">
						<h4 class="mb-10">Get into shape now</h4>
						<p>
							<a href="#">Book an appointment</a>
						</p>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 single-feature">
					<figure>
						<img class="img-fluid" src="" alt="">
						<div class="overlay overlay-bg"></div>
					</figure>
					<div class="text-center">
						<h4 class="mb-10">Get into shape now</h4>
						<p>
							<a href="#">Book an appointment</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

   <section class="schedule-area section-gap">
		<img class="featured-img img-fluid" src="" alt="">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-lg-12">
					<div class="section-title-wrap text-center">
						<h1>Schedule your Fitness Process</h1>
						<p>Who are in extremely love with eco friendly system.</p>
					</div>
				</div>
			</div>

			<div class="row justify-content-center">
				<div class="table-wrap col-lg-10">
					<table class="schdule-table table table-bordered">
						<thead class="thead-light">
							<tr>
								<th class="head" scope="col">Course name</th>
								<th class="head" scope="col">mon</th>
								<th class="head" scope="col">tue</th>
								<th class="head" scope="col">wed</th>
								<th class="head" scope="col">thu</th>
								<th class="head" scope="col">fri</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th class="name" scope="row">Fitness Aero</th>
								<td>02.00</td>
								<td>10.00</td>
								<td>02.00</td>
								<td>02.00</td>
								<td>10.00</td>
							</tr>
							<tr>
								<th class="name" scope="row">Senior Fitness</th>
								<td>02.00</td>
								<td>10.00</td>
								<td>02.00</td>
								<td>02.00</td>
								<td>10.00</td>
							</tr>
							<tr>
								<th class="name" scope="row">Fitness Aero</th>
								<td>02.00</td>
								<td>10.00</td>
								<td>02.00</td>
								<td>02.00</td>
								<td>10.00</td>
							</tr>
							<tr>
								<th class="name" scope="row">Senior Fitness</th>
								<td>02.00</td>
								<td>10.00</td>
								<td>02.00</td>
								<td>02.00</td>
								<td>10.00</td>
							</tr>
							<tr>
								<th class="name" scope="row">Senior Fitness</th>
								<td>02.00</td>
								<td>10.00</td>
								<td>02.00</td>
								<td>02.00</td>
								<td>10.00</td>
							</tr>
							<tr>
								<th class="name" scope="row">Senior Fitness</th>
								<td>02.00</td>
								<td>10.00</td>
								<td>02.00</td>
								<td>02.00</td>
								<td>10.00</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>

   <section class="testomial-area section-gap">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-lg-12">
					<div class="section-title-wrap text-center">
						<h1>Client’s Feedback</h1>
						<p>As you pour the first glass of your favorite Chianti or Chardonnay and settle into an intimate Friday evening.</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="active-testimonial-carusel">
					<div class="single-testimonial item">
						<img class="mx-auto rounded-circle" src="" alt="">
						<p class="desc">
							Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector,
							hardware and more. laptop accessory
						</p>
						<h4>Helena Phillips</h4>
						<p>
							CEO at Facebook
						</p>
					</div>
					<div class="single-testimonial item">
						<img class="mx-auto rounded-circle" src="" alt="">
						<p class="desc">
							It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game, it has
							been achieving great heights so far as its.
						</p>
						<h4>Cordelia Barton</h4>
						<p>
							CEO at Twitter
						</p>
					</div>
					<div class="single-testimonial item">
						<img class="mx-auto rounded-circle" src="" alt="">
						<p class="desc">
							About 64% of all on-line teens say that do things online that they wouldn’t want their parents to know about. 11% of all
							adult internet users visit dating websites.
						</p>
						<h4>Carrie Reese</h4>
						<p>
							CEO at Google
						</p>
					</div>
					<div class="single-testimonial item">
						<img class="mx-auto rounded-circle" src="" alt="">
						<p class="desc">
							Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector,
							hardware and more. laptop accessory
						</p>
						<h4>Helena Phillips</h4>
						<p>
							CEO at Facebook
						</p>
					</div>
					<div class="single-testimonial item">
						<img class="mx-auto rounded-circle" src="" alt="">
						<p class="desc">
							It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game, it has
							been achieving great heights so far as its.
						</p>
						<h4>Cordelia Barton</h4>
						<p>
							CEO at Twitter
						</p>
					</div>
					<div class="single-testimonial item">
						<img class="mx-auto rounded-circle" src="" alt="">
						<p class="desc">
							About 64% of all on-line teens say that do things online that they wouldn’t want their parents to know about. 11% of all
							adult internet users visit dating websites.
						</p>
						<h4>Carrie Reese</h4>
						<p>
							CEO at Google
						</p>
					</div>
					<div class="single-testimonial item">
						<img class="mx-auto rounded-circle" src="" alt="">
						<p class="desc">
							Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector,
							hardware and more. laptop accessory
						</p>
						<h4>Helena Phillips</h4>
						<p>
							CEO at Facebook
						</p>
					</div>
					<div class="single-testimonial item">
						<img class="mx-auto rounded-circle" src="" alt="">
						<p class="desc">
							It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game, it has
							been achieving great heights so far as its.
						</p>
						<h4>Cordelia Barton</h4>
						<p>
							CEO at Twitter
						</p>
					</div>
					<div class="single-testimonial item">
						<img class="mx-auto rounded-circle" src="" alt="">
						<p class="desc">
							About 64% of all on-line teens say that do things online that they wouldn’t want their parents to know about. 11% of all
							adult internet users visit dating websites.
						</p>
						<h4>Carrie Reese</h4>
						<p>
							CEO at Google
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

   <section class="cta-one-area relative section-gap">
		<img class="cta-img img-fluid" src="" alt="">
		<div class="container">
			<div class="row justify-content-center">
				<div class="wrap">
					<h1>Huge Transaction in last Week</h1>
					<p>
						Thinking about overseas adventure travel? Have you put any thought into the best places to go when it comes to overseas adventure
						travel?
					</p>
					<a class="primary-btn" href="#">Become a Member</a>
				</div>
			</div>
		</div>
	</section>

   <section class="blog-area section-gap">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-lg-12">
					<div class="section-title-wrap text-center">
						<h1>Our Recent Blogs</h1>
						<p>As you pour the first glass of your favorite Chianti or Chardonnay and settle into an intimate Friday evening.</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-12 single-blog">
					<div class="thumb">
						<img class="img-fluid" src="" alt="">
					</div>
					<a href="single-blog.html"><h4>Portable Fashion for women</h4></a>
					<div class="text-wrap">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							Ut enim ad minim veniam, quis nostrud.
						</p>
					</div>
					<div class="meta-bottom d-flex">
						<p><span class="lnr lnr-calendar-full"></span> 13th Dec</p>
						<p><span class="lnr lnr-heart"></span> 15</p>
						<p><span class="lnr lnr-bubble"></span> 02</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 single-blog">
					<div class="thumb">
						<img class="img-fluid" src="" alt="">
					</div>
					<a href="single-blog.html"><h4>Summer ware are coming</h4></a>
					<div class="text-wrap">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							Ut enim ad minim veniam, quis nostrud.
						</p>
					</div>
					<div class="meta-bottom d-flex">
						<p><span class="lnr lnr-calendar-full"></span> 13th Dec</p>
						<p><span class="lnr lnr-heart"></span> 15</p>
						<p><span class="lnr lnr-bubble"></span> 02</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 single-blog">
					<div class="thumb">
						<img class="img-fluid" src="" alt="">
					</div>
					<a href="single-blog.html"><h4>Summer ware are coming</h4></a>
					<div class="text-wrap">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							Ut enim ad minim veniam, quis nostrud.
						</p>
					</div>
					<div class="meta-bottom d-flex">
						<p><span class="lnr lnr-calendar-full"></span> 13th Dec</p>
						<p><span class="lnr lnr-heart"></span> 15</p>
						<p><span class="lnr lnr-bubble"></span> 02</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	 {% block footer %}
        <footer class="footer-area section-gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h4>About Us</h4>
						<p>
							The state of Utah in the United States is home to lots of beautiful National Parks, & Bryce Canyon National Park ranks as
							three of the magnificent & awe inspiring.
						</p>
					</div>
				</div>
				<div class="col-lg-4  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h4>Contact Us</h4>
						<p>
							56/8, rockybeach road, santa monica, Los angeles, California - 59620.
						</p>
						<p class="number">
							012-6532-568-9746 <br> 012-6532-569-9748
						</p>
					</div>
				</div>
				<div class="col-lg-5  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h4>Newsletter</h4>
						<p>You can trust us. we only send offers, not a single spam.</p>
						<div class="d-flex flex-row" id="mc_embed_signup">

							<form class="navbar-form" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
							 method="get">
								<div class="input-group add-on align-items-center d-flex">
									<input class="form-control" name="email" placeholder="Your Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email address'"
									 required="" type="email">
									<div style="position: absolute; left: -5000px;">
										<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
									</div>
									<div class="input-group-btn">
										<button class="genric-btn"><span class="lnr lnr-arrow-right"></span></button>
									</div>
								</div>
								<div class="info mt-20"></div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom row align-items-center">
				<p class="footer-text m-0 col-lg-6 col-md-12"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
				<div class="col-lg-6 col-sm-12 footer-social">
					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-dribbble"></i></a>
					<a href="#"><i class="fa fa-behance"></i></a>
				</div>
			</div>
		</div>
	</footer>
    {% endblock %}
{% endblock %}