{% extends 'base.html.twig' %}

{% block title %}{{titulo}} Aeropuerto{% endblock %}

{% block body %}
{{ parent() }}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
<header>

</header>

<section class="pt-150 cuerpo fondoseccion">

<div class="col-lg-3 col-md-6 col-8 offset-lg-4 offset-md-3 offset-sm-2 border borderradius bg-secondary">
<h1 class="text-center text-primary">{{titulo}} Aeropuerto</h1>
    {{ form_start(nuevoaeropuertoForm) }}
        {{ form_row(nuevoaeropuertoForm.nombre) }}
        {{ form_row(nuevoaeropuertoForm.localidad) }}
        <button type="submit" class="btn btn-primary mb-3">{{titulo}}</button>
        <a href="/admin/listaaeropuerto/1" class="float-right">Volver</a>
    {{ form_end(nuevoaeropuertoForm) }}

</div>

</section>
{% block footer %}
       {# <footer class="footer">            
                <p>Copyright <script>document.write(new Date().getFullYear())</script> &copy; <a href="http://www.devcrud.com">Xokas and co</a></p>
            </footer>#}
            <div class="fondoseccion text-center footer-pd">
                AIRES
            </div>
{% endblock %}
{% endblock %}